.layout {
    &-sticky {
        &-container {
            display: flex;

            .layout-sidebar {
                position: sticky;
                top: 118px;
                height: calc(100vh - 118px);
                z-index: 1000;
                width: 356px;
                background-color: $color-white;
                border-right: 1px solid $color-gray-30;
                padding: 1.5rem 1.5rem;
                overflow-x: hidden;
                overflow-y: auto;
                transition: transform 0.3s ease;

                @media (max-width: 1056px) {
                    position: fixed;
                    top: 65px;
                    height: calc(100vh - 65px);
                    transform: translateX(-100%);
                    z-index: 1001;
                }

                &.open {
                    transform: translateX(0);
                }
            }

            .layout-content {
                flex: 1;
            }
        }
    }
}