.text-color {
    &-white {
        color: $color-white;
    }

    &-gray-70 {
        color: $color-gray-70;
    }

    &-gray-60 {
        color: $color-gray-60;
    }

    &-gray-50 {
        color: $color-gray-50;
    }

    &-gray-40 {
        color: $color-gray-40;
    }

    &-gray-30 {
        color: $color-gray-30;
    }

    &-gray-20 {
        color: $color-gray-20;
    }

    &-blue-90 {
        color: $color-blue-90;
    }

    &-blue-80 {
        color: $color-blue-80;
    }

    &-blue-60 {
        color: $color-blue-60;
    }

    &-blue-50 {
        color: $color-blue-50;
    }

    &-blue-30 {
        color: $color-blue-30;
    }

    &-blue-20 {
        color: $color-blue-20;
    }

    &-red-80 {
        color: $color-red-80;
    }

    &-red-70 {
        color: $color-red-70;
    }

    &-red-60 {
        color: $color-red-60;
    }

    &-green-70 {
        color: $color-green-70;
    }
}