.itg-text-color {
    &-white {
        color: $color-white !important;
    }

    &-gray-70 {
        color: $color-gray-70 !important;
    }

    &-gray-60 {
        color: $color-gray-60 !important;
    }

    &-gray-50 {
        color: $color-gray-50 !important;
    }

    &-gray-40 {
        color: $color-gray-40 !important;
    }

    &-gray-30 {
        color: $color-gray-30 !important;
    }

    &-gray-20 {
        color: $color-gray-20 !important;
    }

    &-blue-90 {
        color: $color-blue-90 !important;
    }

    &-blue-80 {
        color: $color-blue-80 !important;
    }

    &-blue-60 {
        color: $color-blue-60 !important;
    }

    &-blue-50 {
        color: $color-blue-50 !important;
    }

    &-blue-30 {
        color: $color-blue-30 !important;
    }

    &-blue-20 {
        color: $color-blue-20 !important;
    }

    &-red-80 {
        color: $color-red-80 !important;
    }

    &-red-70 {
        color: $color-red-70 !important;
    }

    &-red-60 {
        color: $color-red-60 !important;
    }

    &-green-70 {
        color: $color-green-70 !important;
    }
}

.itg-link-color {
    &-white {
        color: $color-white !important;
    }

    &-gray-70 {
        color: $color-gray-70 !important;
    }

    &-gray-60 {
        color: $color-gray-60 !important;
    }

    &-gray-50 {
        color: $color-gray-50 !important;
    }

    &-gray-40 {
        color: $color-gray-40 !important;
    }

    &-gray-30 {
        color: $color-gray-30 !important;
    }

    &-gray-20 {
        color: $color-gray-20 !important;
    }

    &-blue-90 {
        color: $color-blue-90 !important;
    }

    &-blue-80 {
        color: $color-blue-80 !important;
    }

    &-blue-60 {
        color: $color-blue-60 !important;
    }

    &-blue-50 {
        color: $color-blue-50 !important;
    }

    &-blue-30 {
        color: $color-blue-30 !important;
    }

    &-blue-20 {
        color: $color-blue-20 !important;
    }

    &-red-80 {
        color: $color-red-80 !important;
    }

    &-red-70 {
        color: $color-red-70 !important;
    }

    &-red-60 {
        color: $color-red-60 !important;
    }

    &-green-70 {
        color: $color-green-70 !important;
    }
}