.typography {
    &-display {
        &-96 {
            font-size: $fontSize-display-96;
            font-weight: 400;
            line-height: 1.5;
        }

        &-76 {
            font-size: $fontSize-display-76;
            font-weight: 400;
            line-height: 1.5;
        }

        &-64 {
            font-size: $fontSize-display-64;
            font-weight: 400;
            line-height: 1.5;
        }

        &-48 {
            font-size: $fontSize-display-48;
            font-weight: 400;
            line-height: 1.5;
        }
    }

    &-heading {
        &-40 {
            font-size: $fontSize-heading-40;
            font-weight: 400;
            line-height: 1.5;
        }

        &-32 {
            font-size: $fontSize-heading-32;
            font-weight: 400;
            line-height: 1.5;
        }

        &-24 {
            font-size: $fontSize-heading-24;
            font-weight: 400;
            line-height: 1.5;
        }

        &-20 {
            font-size: $fontSize-heading-20;
            font-weight: 400;
            line-height: 1.5;
        }

        &-18 {
            font-size: $fontSize-heading-18;
            font-weight: 400;
            line-height: 1.5;
        }

        &-16 {
            font-size: $fontSize-heading-16;
            font-weight: 400;
            line-height: 1.5;
        }
    }

    &-subheading {
        &-24 {
            font-size: $fontSize-subheading-24;
            font-weight: 400;
            line-height: 1.3;
        }
    }

    &-body {
        &-20 {
            font-size: $fontSize-body-20;
            font-weight: 400;
            line-height: 1.3;
        }

        &-16 {
            font-size: $fontSize-body-16;
            font-weight: 400;
            line-height: 1.3;
        }
    }

    &-footnote {
        &-14 {
            font-size: $fontSize-footnote-14;
            font-weight: 400;
            line-height: 1.3;
        }
    }

    &-caption {
        &-12 {
            font-size: $fontSize-caption-12;
            font-weight: 400;
            line-height: 1.3;
        }
    }

    &-label {
        &-16 {
            font-size: $fontSize-label-16;
            font-weight: 400;
            line-height: 1.15;
        }

        &-14 {
            font-size: $fontSize-label-14;
            font-weight: 400;
            line-height: 1.15;
        }

        &-12 {
            font-size: $fontSize-label-12;
            font-weight: 400;
            line-height: 1.15;
        }
        
        &-9 {
            font-size: $fontSize-label-9;
            font-weight: 400;
            line-height: 1.15;
        }
    }
}