$fontFamilySatoshi: "Satoshi", Helvetica, Arial, sans-serif;

$icon-size: 1.5rem;

// Font Size
$fontSize-display-96: 6rem;
$fontSize-display-76: 4.75rem;
$fontSize-display-64: 4rem;
$fontSize-display-48: 3rem;
$fontSize-heading-40: 2.25rem;
$fontSize-heading-32: 2rem;
$fontSize-heading-24: 1.5rem;
$fontSize-heading-20: 1.25rem;
$fontSize-heading-16: 1rem;
$fontSize-subheading-24: 1.5rem;
$fontSize-body-20: 1.25rem;
$fontSize-body-16: 1rem;
$fontSize-footnote-14: 0.875rem;
$fontSize-caption-12: 0.75rem;
$fontSize-label-16: 1rem;
$fontSize-label-14: 0.875rem;

// Color White
$color-white: #FFFFFF;
// Color Gray
$color-gray-70: #363A41;
$color-gray-60: #9CA5BA;
$color-gray-50: #ADB9D2;
$color-gray-40: #CBD2E4;
$color-gray-30: #E5E9F1;
$color-gray-20: #F2F4F9;
// Color Blue
$color-blue-90: #0C3687;
$color-blue-80: #172A6B;
$color-blue-60: #0041A3;
$color-blue-50: #0166FF;
$color-blue-30: #8AAAEA;
$color-blue-20: #E1E9FF;
// Color Green
$color-green-70: #006B46;
// Color Red
$color-red-80: #9F2E2D;
$color-red-70: #B93634;
$color-red-60: #D33D3B;
// Color Gray with transparency
$color-gray-80-alpha-30: rgba(38, 40, 45, 0.3);
$color-gray-80-alpha-15: rgba(38, 40, 45, 0.15);