header.header 
    .header__top
        .return 
            a.typography-heading-18.link-color-blue-60(href="#", onclick="window.history.back();") 
                span.icon.svg--inline-icon.mrg-e-2: svg: use(xlink:href=iconPath+'chevron-left')
                | Posición Desagregada
        .top__button-right
            a(href="#").button.button-invisible.text-color-gray-70 Estado de cuenta
                span.icon.svg--inline-icon.mrg-s-2: svg: use(xlink:href=iconPath+'download')