header.header 
    .header__top
        .button.button-secondary.burger-btn.mrg-e-4.toggle-btn
            <svg class="icon svg--inline-icon burger-ham" viewBox="0 0 100 100" width="80">
                <path class="line top" d="m 30,33 h 40 c 0,0 8.5,-0.68551 8.5,10.375 0,8.292653 -6.122707,9.002293 -8.5,6.625 l -11.071429,-11.071429"></path>
                <path class="line middle" d="m 70,50 h -40"></path>
                <path class="line bottom" d="m 30,67 h 40 c 0,0 8.5,0.68551 8.5,-10.375 0,-8.292653 -6.122707,-9.002293 -8.5,-6.625 l -11.071429,11.071429"></path>
            </svg>
        .brand 
            a(href="/" class="brand__link") 
                picture 
                    source(media="(min-width: 992px)", srcset="images/logo/logo-inteligo-sab.png")
                    img.image(src="images/logo/logo-inteligo-sab-mobile.png", alt="Logo Inteligo SAB", srcset="images/logo/logo-inteligo-sab-mobile.png")
        .top__button-right
            a(href="#").button.button-primary.button-xs Operar en bolsa
        ul.top__nav 
            li.nav__item 
                a.nav__link(href="#") 
                    span.link__icon.icon.svg--inline-icon: svg: use(xlink:href=iconPath+'help')
                    | Preguntas frecuentes
            li.nav__item 
                a.nav__link(href="#") 
                    span.link__icon.icon.svg--inline-icon: svg: use(xlink:href=iconPath+'customer-service')
                    | Contacto
            li.nav__item.dropdown 
                a.nav__link.dropdown-toggle(href="#") 
                    span.user-profile EQ
                        span.user-profile__badge
                    | Perfil
                    span.toggle-icon-dropdown.mrg-s-1.icon.svg--inline-icon: svg: use(xlink:href=iconPath+'chevron-down')
                ul.dropdown-menu.dropdown-align--end
                    li.dropdown-item: span.dropdown-text RUT 1412669
                    li.dropdown-item
                        a.dropdown-link(href="#") 
                            span.icon.svg--inline-icon.mrg-e-2: svg: use(xlink:href=iconPath+'identification')
                            | Actualizar registro de cliente
                    li.dropdown-item
                        a.dropdown-link(href="#") 
                            span.icon.svg--inline-icon.mrg-e-2: svg: use(xlink:href=iconPath+'settings')
                            | Configuración
                    li.dropdown-item
                        a.dropdown-link(href="#") 
                            span.icon.svg--inline-icon.mrg-e-2: svg: use(xlink:href=iconPath+'logout')
                            | Cerrar sesión
    nav.nav__menu 
        ul.navbar__nav 
            li.nav__item 
                a.nav__link.active(href="#") Inicio
            li.nav__item 
                a.nav__link(href="#") Operar en Bolsa
            li.nav__item 
                a.nav__link(href="#") Reportes de Mercado
            li.nav__item.dropdown 
                a.nav__link.dropdown-toggle(href="#") Movimientos de Efectivo
                    span.toggle-icon-dropdown.icon.svg--inline-icon.mrg-s-1: svg: use(xlink:href=iconPath+'chevron-down')
                ul.dropdown-menu
                    li.dropdown-item: a.dropdown-link(href="#") Depositar
                    li.dropdown-item: a.dropdown-link(href="#") Retirar
                    li.dropdown-item: a.dropdown-link(href="#") Historial de transacciones
            li.nav__item 
                a.nav__link(href="#") Fondos Mutuos
            li.nav__item.dropdown  
                a.nav__link.dropdown-toggle(href="#") Otras Consultas
                    span.toggle-icon-dropdown.icon.svg--inline-icon.mrg-s-1: svg: use(xlink:href=iconPath+'chevron-down')
                ul.dropdown-menu
                    li.dropdown-item: a.dropdown-link(href="#") Custodia de valores
                    li.dropdown-item: a.dropdown-link(href="#") Consulta de órdenes
                    li.dropdown-item: a.dropdown-link(href="#") Consulta de pólizas
                    li.dropdown-item: a.dropdown-link(href="#") Consulta estado de cuenta
        ul.navbar__nav-right
            li.nav__item 
                span.nav__text Cambio USD: #[b.text-color-blue-60 3.728]
            li.nav__item 
                span.nav__text Última actualización: #[b 10:20:42 am]

.mobile-menu
    ul.navbar__nav 
        li.nav__item
            a.nav__link.active(href="#")
                span.link__icon.icon.svg--inline-icon: svg: use(xlink:href=iconPath+'home')
                | Inicio
        li.nav__item
            a.nav__link(href="#")
                span.link__icon.icon.svg--inline-icon: svg: use(xlink:href=iconPath+'chart-stacked-vertical')
                | Operar en bolsa
        li.nav__item
            a.nav__link(href="#")
                span.link__icon.icon.svg--inline-icon: svg: use(xlink:href=iconPath+'document-multiple-01')
                | Reportes
        li.nav__item
            a.nav__link(href="#")
                span.link__icon.icon.svg--inline-icon: svg: use(xlink:href=iconPath+'arrows-vertical')
                | Movimientos
        li.nav__item
            a.nav__link(href="#")
                span.link__icon.icon.svg--inline-icon: svg: use(xlink:href=iconPath+'overflow-menu-horizontal')
                | Más 